{% extends 'user_navbar.html' %}

{% load static%}

{% block content %}
<html>
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/CSS/dishes.css' %}">
    
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-6 d-flex justify-content-center my-3 mt-5">
            <!-- Using Bootstrap class 'd-flex' with 'justify-content-center' for centering -->
            <img src={% static '/images/Menu/Prestige Chianti Classico.jpg' %} class="img-fluid">
            <!-- 'img-fluid' class ensures responsiveness -->
        </div>
        <div class="col-md-6 text-margin-top">
        <h1><b>PRESTIGE CHIANTI CLASSICO</b></h1>

            <p class="fs-4 mt-5"><b>WINE NOTES:</b></p>
            <p class="fs-4">
                A classic Italian red wine with bright cherry flavors, earthy undertones, and firm tannins. Its balanced acidity makes it a great match for tomato-based dishes and roasted meats.            
            </p>
            <p class="fs-2">&#8369; 1,950.00</p>
        </div>
    </div>
</div>

</body>
</html>

{% endblock %}
