

<hr>
<footer>
    <div class="footer-bottom" style="font-family: Times New Roman, Times, serif">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-6">
                    <p class="mb-0"><span style="font-weight: bold; font-size: 20pt;">La Nuova Pasteleria</span><br><small>San Antonio Plaza
                                McKinley Road Forbes, Makati City</small> <br><small>Tel No: 02 8817-8568</small> </p>
                </div>
                <div class="col-auto me-lg-4">
                    <p class="mb-0"><span style="font-weight: bold; font-size: 15pt;">Let's Connect</span></p>
                    <a href ="https://www.instagram.com/lanuovapasteleria/" target="_blank">
                        <i class="fab fa-instagram fa-3x"></i>
                    <a/>                    
                </div>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/8d97245272.js" crossorigin="anonymous"></script>
</footer>

