{% extends 'user_navbar.html'%}

{% block content%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>

        .format{
            text-align: center;
            font-family: 'Austin' ,Georgia, Times New Roman, Times, serif;
            margin-top: 20px;
        }

        body{
            background-color: #D5CCAB;
        }

    </style>
</head>
<html>
<body>

<div class="format">

    <h1>RULES:</h1>

    <p>- No reservations on weekends (Saturday & Sunday)</p>
    <p>- OPEN: Mondays to Sundays 10:00AM to 9:00PM</p>
        
    <br>

    <h2>Normal Reservation:</h2>
    <p>- 12 person maxed</p>
    <p>- Reserving a table - 15-20 mins will wait for the customer to arrive, if it not arrive on the waiting time it will be cancelled.</p>

    <br>

    <h2>Exclusive Reservation</h2>
    <p>- 30 maxed</p>
    <p>- For Exclusive Reservation, we will closed the restaurant for 3 hours.</p>
    <p>- You can only reserve for 3 hours</p>
    <p>- You can only reserve 3:00PM-6:00PM and 6:00-9:00PM</p>
    <p>- For special holidays like christmas, you can extend the 9:00PM</p>

</div>

</body>
</html>
{% endblock %}